<footer id="footer" class="navbar-fixed-bottom navbar-inverse">
  <div class="container-nav-bar-footer">
    <img src='<%= image_path('rails.png') %>' 
          class='logo-image'
      >
    <div class="author">
      <p class="thanks">Thank you for using ShutApp, I created this app to learn how to use the Rails framework with Web Sockets</p>
      <p>Built by <a href="https://github.com/alexbujenita/chat-app" target="_blank">Alex Bujenita</a></p>
    </div>
  </div>
</footer>